@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "theme";
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

$fill: rgba(109, 101, 141, 0.438);
$bg: black;
$font: white;
$border: rgb(156, 156, 156);

$rFont: 'Major Mono Display', monospace;
$nFont: monospace;
